
.logo{
	position: absolute;
	margin-left: 20px;
	font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    top: 20px;
}
.logotext{
	position: absolute;
	margin-left: 65px;
	top: 20px;
	font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: black;
}
.logotext:visited{
	color: black;
}
.logotext:hover{
	color: black;
}
.col{
	font-family: 'Lato', sans-serif;
	padding-right:55px; 
	
	
}

.title{
	/*	position: absolute;
*/	margin-top: 5px;
	background-color: #3F543A;
	text-align: center;
	font-size: 2em;
	color: white;
	font-family: 'Lato', sans-serif;
	padding: 40px 10px;
	left: 20px;
	text-decoration: none;
}
.head{
	color: #3F543A;
	font-family: 'Lato', sans-serif;

}
.heading{
	color: black;
	border-bottom: 2px solid #3F543A;
}
table {
    /* make the border continuous (without gaps between columns) */
    border-collapse: collapse;
    margin-left: 4%;
    margin-top: 50px;
}
.heading2{
	border-bottom:1px solid black;
}
.page{
	position: absolute;
	top: 70px;
	margin-left: 39%;
	color: black;
	font-family: 'Lato', sans-serif;
}
td{
	padding: 10px;
}
.last{
	color: #3F543A;
	font-family: 'Lato', sans-serif;
}
.last1{
	font-family: 'Lato', sans-serif;
}